@import '../../constants/globals';

.editor {
  .item {
    background: $whiteColor;
    max-height: 100%;
    // min-height: 100px;
    display: flex;
    margin-bottom: $freeSpace;
    // background-color: lightgreen;

    .left {
      flex: 1;
      margin-right: 5px;
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 3px 0px;
      padding-right: 0;

      span {
        background-color: $secondaryColor;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        color: $whiteColor;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3px;
        cursor: pointer;

        svg {
          font-size: 16px;
          margin-right: -3px;
        }

        &:hover {
          background-color: lighten($secondaryColor, 5);
        }
      }

      .up-down {
        display: flex;
        flex-direction: column;
        // margin-bottom: 0px;

        span {
          background-color: $primaryColor;
          margin-bottom: 3px;

          svg {
            margin-left: -2px !important;
          }

          &:hover {
            background-color: lighten($primaryColor, 5);
          }

          &.disable {
            background-color: lighten($blackColor, 67);
          }
        }
      }
    }
  }
}
