@import '../constants/globals';

.fab {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: $secondaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: $headerHeight + 50px;
  left: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
  margin-left: 290px;

  svg {
    color: $whiteColor;
    font-size: 14px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .fab {
    bottom: $headerHeight + 30px;
    margin-left: 27%;
  }
}
